@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,
body {
  min-height: 100%;
  font-family: 'Space Grotesk';
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
