@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,
body {
  min-height: 100%;
  font-family: 'poppins';
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
